doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../public/css/style.css")
        title Choom
    body
        header 
            a(href="/") Choom
        main
            div#welcome
                div#welcome-flex
                    div#create
                        div#nickname 
                            div#name Nickname
                            form
                                input(type="text", required, placeholder="Write Your Nickname")
                            
                        div#createRoom
                            div create Room
                            form
                                input(type="text", required, placeholder="Room Name")
                    div#roomNumber
                        ul                      

            div#call
                h3
                div#callDiv
                    div#myStream
                        div#myStream-column
                            video#myFace(autoplay, playinline, width="400", height="400")
                            div#button
                                select#cameras
                                button#mute 
                                    i.fas.fa-volume-mute
                                button#camera
                                    i.fas.fa-video-slash
                        div#myStream-column    
                            video#peerFace(autoplay, playinline, width="400", height="400")
                    div#chatroom
                        div#chatForm
                            div#chatContent
                            form
                                input(type="text", placeholder="Write Your Message")
                                button Send    
        script(src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous")
        script(src="/socket.io/socket.io.js")    
        script(src="/public/js/app.js")    